section {
	margin: 100px auto;
	width: 800px;
}
section h1,
section p {
	color: #454545;
	text-align: center;
}
section h1 {
	color: DarkSlateGrey;
	font: 32px 'Open Sans';
	font-weight: bold;
}
section p {
	font: 16px 'Open Sans';
}